:root {
    /* primary colors */
    --background-color-one : hsl(68, 39%, 30%);
    --background-color-two : hsl(58,38%,58%);
    --text-color-one : hsl(25, 54%, 35%);
    --text-color-two:#e08543;
    --button-color-one : hsl(50, 45%, 87%);
    --button-color-two : #c9c5b1;
  
    /* Accent-colors  */
    --hightlight-color-one : #EEEE9B;
    --hightlight-color-two : #C45508;
  
    /* Nature Colors  */
    --heading-color-one : hsl(120, 61% , 34%);
    --heading-color-two : hsl(197, 71% , 73%);
    --nature-color-one : #fffd37;
    --nature-color-two : #FFFDD0;
  
    /* Warmth colors */
    --warmth-color-one : rgb( 211, 182, 156);
    --warmth-color-two : #E35336;
    --warmth-color-three : #B2AC88;
    --warmth-color-four :  #F8998D;
  
    /* Modern Colors  */
    --modern-color-one : #FBFAF5;
    --modern-color-two : #d3d3d3;
    --modern-color-three : 	#05014a;
    --modern-color-four : hsl(166, 100%, 20%);
  
    /* Vintage color */
    --vintage-color-one :#8C9DAD ;
    --vintage-color-two : #FDFD96;
    --vintage-color-three :  #7c0a02;
    --vintage-color-four : #aaaaaa;
  }

  

.logo {
    border-radius : 50%;
    height : 50px;
    width : 50px;    
    margin-right : 10px;
    margin-top : 10px;
    
}
.logoContainer {
    display : flex;
    justify-content : space-between;
    align-items : center;
    
}
.logoContainer h1 {
    color : var(--nature-color-two);
}